/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    margin: 0 auto;
    width: 700px;
    text-align: center;
    line-height: 1.4em;
    font: 13.34px helvetica,arial,freesans,clean,sans-serif;
    color: black;
}
/* Github achievements style.
*/
a:link {
    color: #4183C4;
}
img {
    float : right;
    height : 50px;
}
li {
    margin: 10px 0;
    border: 1px solid #CACACA;
}
div.title {
    height: 33px;
    padding: 0 6px;
    line-height: 33px;
    font-weight: bold;
    background: url(images/metabar.gif) 0 0 repeat-x;
    border-bottom: 1px solid #CCC;
    color: #222;
}
div.info {
    padding: 0 6px;
    color: #333;
    font-size: 12px;
    background: #FBFBFB;
    margin: 1em 0!important;
    line-height: 1.5em!important;
}
ul {
    text-align: left;
    list-style-type: none;
    font-size: 100%;
}
#locked {
    display: none;
}
#locked p {
    font-size: 110%;
    text-align: justify;
}
#locked div.title {
    background-position: -33px 0px;
}
h2 {
    font-size: 190%;
}
pre {
    font: 1em monospace;
}
